@charset "UTF-8";
body {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    line-height: 1.5em;
}

header {
    background-color: black;
    color: lightgreen;
    /* 內距 */
    padding: 20px;
    text-align: center;
    margin-bottom: 10px;
}

.container {
    width: 90%;
    margin: auto;
    padding: 10px;
}